<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inno.common.code.repository.CodeMapper">

    <select id="selectCodeAllList" resultType="HashMap">
        WITH RECURSIVE
            CTE AS (
                SELECT 1 AS LEVEL
                     , CD_ID
                     , CD_NM
                     , SUPI_CD_ID
                     , USE_YN
                     , ORDR
                FROM TC_COM_CD
                WHERE SUPI_CD_ID = '0000000000'
                UNION ALL
                SELECT 1 + LEVEL AS LEVEL
                     , A.CD_ID
                     , A.CD_NM
                     , A.SUPI_CD_ID
                     , A.USE_YN
                     , A.ORDR
                FROM TC_COM_CD A
                   , CTE B
                WHERE A.SUPI_CD_ID = B.CD_ID
            ),
            CODE_LIST AS (
                SELECT LEVEL                     AS lvl
                     , CD_ID                     AS id
                     , CD_NM                     AS text
                     , CASE
                           WHEN SUPI_CD_ID = '0000000000' THEN '#'
                           ELSE SUPI_CD_ID END AS parent
                     , USE_YN
                     , ORDR
                     , 'folder'                  AS folder
                FROM CTE
            )
        SELECT * FROM CODE_LIST ORDER BY lvl asc, ordr asc
    </select>

    <select id="selectCodeByCdId" parameterType="CodeVO" resultType="CodeVO">
        SELECT
            *
        FROM TC_COM_CD
        WHERE CD_ID = #{cdId}
    </select>

</mapper>