<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inno.backoffice.admin.repository.AdminMapper">

    <select id="checkByAdminId" parameterType="AdminVO" resultType="int">
        SELECT
            COUNT(1)
          FROM TC_ADMIN_MS
         WHERE ADMIN_ID = #{adminId}
    </select>

    <select id="selectAdminByAdminSn" parameterType="AdminVO" resultType="AdminVO">
        SELECT
            *
          FROM TC_ADMIN_MS
         WHERE ADMIN_SN = #{adminSn}
    </select>

    <select id="selectAdminListPaging" parameterType="AdminVO" resultType="AdminVO">
        SELECT
              A.ADMIN_SN
            , A.ADMIN_ID
            , A.ADMIN_NM
            , A.USE_YN
            , A.REG_SN
            , A.MOD_SN
            , (SELECT AUTH_NM FROM TC_AUTH_MS WHERE AUTH_SN = A.AUTH_SN) AS AUTH_NM
            , DATE_FORMAT(A.REG_DATE, '%Y-%m-%d %H:%i:%S') AS REG_DATE_STR
            , DATE_FORMAT(A.MOD_DATE, '%Y-%m-%d %H:%i:%S') AS MOD_DATE_STR
          FROM TC_ADMIN_MS A
         WHERE 1=1
        <if test="adminSn != null and adminSn != ''">
            AND A.ADMIN_SN = #{adminSn}
        </if>
        <if test="adminId != null and adminId != ''">
            AND A.ADMIN_ID LIKE CONCAT('%',#{adminId},'%')
        </if>
        <if test="adminNm != null and adminNm != ''">
            AND A.ADMIN_NM LIKE CONCAT('%',#{adminNm},'%')
        </if>
        <if test="useYn != null and useYn != ''">
            AND A.USE_YN = #{useYn}
        </if>
         ORDER BY A.ADMIN_SN DESC
         LIMIT #{skip} , #{pageSize}
    </select>

    <update id="updateAdmin" parameterType="AdminVO">
        UPDATE TC_ADMIN_MS
           SET ADMIN_ID = #{adminId}
             , ADMIN_PW = #{adminPw}
             , ADMIN_NM = #{adminNm}
             , AUTH_SN = #{authSn}
             , USE_YN = #{useYn}
             , MOD_DATE = #{modDate}
             , MOD_SN = #{modSn}
         WHERE 1=1
           AND ADMIN_SN = #{adminSn}
    </update>

    <select id="selectAdminByUsername" parameterType="String" resultType="AdminVO">
        SELECT
            *
          FROM TC_ADMIN_MS
         WHERE ADMIN_ID = #{value}
    </select>
</mapper>