<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inno.backoffice.auth.repository.AuthMapper">

    <update id="updateAuth" parameterType="AuthVO">
        UPDATE TC_AUTH_MS
           SET AUTH_NM = #{authNm}
             , USE_YN = #{useYn}
             , MOD_DATE = #{modDate}
             , MOD_SN = #{modSn}
         WHERE 1=1
           AND AUTH_SN = #{authSn}
    </update>

    <select id="selectAuthByAuthSn" parameterType="AuthVO" resultType="AuthVO">
        SELECT
            *
          FROM TC_AUTH_MS
         WHERE AUTH_SN = #{authSn}
    </select>

    <select id="selectAuthListPaging" parameterType="AuthVO" resultType="AuthVO">
        SELECT AUTH_SN
             , AUTH_NM
             , USE_YN
             , REG_SN
             , MOD_SN
             , DATE_FORMAT(REG_DATE, '%Y-%m-%d %H:%i:%S') AS REG_DATE_STR
             , DATE_FORMAT(MOD_DATE, '%Y-%m-%d %H:%i:%S') AS MOD_DATE_STR
          FROM TC_AUTH_MS
         WHERE 1=1
        <if test="authSn != null and authSn != ''">
            AND AUTH_SN = #{authSn}
        </if>
        <if test="authNm != null and authNm != ''">
            AND AUTH_NM LIKE CONCAT('%',#{authNm},'%')
        </if>
        <if test="useYn != null and useYn != ''">
            AND USE_YN = #{useYn}
        </if>
         ORDER BY AUTH_SN DESC
         LIMIT #{skip} , #{pageSize}
    </select>

    <select id="selectAuthMenuListPaging" parameterType="MenuVO" resultType="MenuVO">
        SELECT A.MENU_SN
             , A.MENU_NM
             , A.MENU_URL
             , CASE
                 WHEN B.AUTH_SN IS NULL THEN 'N'
                 WHEN B.AUTH_SN IS NOT NULL THEN 'Y'
               ELSE 'N' END AS LINK
          FROM TC_ADMIN_MENU_LS A
          LEFT OUTER JOIN TC_AUTH_MENU_MPPG_LS B ON A.MENU_SN = B.MENU_SN AND B.AUTH_SN = #{authSn}
         WHERE 1=1
           AND A.USE_YN = 'Y'
           <if test="menuSn != null and menuSn != ''">
           AND (A.SUPI_MENU_SN = #{menuSn} OR A.MENU_SN = #{menuSn})
           </if>
         ORDER BY A.DEPT, A.ORDR
        LIMIT #{skip} , #{pageSize}
    </select>

    <delete id="deleteAuthMenuAll" parameterType="MenuVO">
        DELETE FROM TC_AUTH_MENU_MPPG_LS WHERE AUTH_SN = #{authSn}
    </delete>

    <select id="authList" resultType="AuthVO">
        SELECT
             AUTH_SN
           , AUTH_NM
          FROM TC_AUTH_MS
         WHERE USE_YN = 'Y'
    </select>

</mapper>