<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inno.backoffice.auth.repository.AuthMapper">

    <update id="updateAuth" parameterType="AuthVO">
        UPDATE TC_AUTH_MS
           SET AUTH_NM = #{authNm}
             , USE_YN = #{useYn}
             , MOD_DATE = #{modDate}
             , MOD_SN = #{modSn}
         WHERE 1=1
           AND AUTH_SN = #{authSn}
    </update>

    <select id="selectAuthByAuthSn" parameterType="AuthVO" resultType="AuthVO">
        SELECT
            *
          FROM TC_AUTH_MS
         WHERE AUTH_SN = #{authSn}
    </select>

    <select id="selectAuthListPaging" parameterType="AuthVO" resultType="AuthVO">
        SELECT AUTH_SN
             , AUTH_NM
             , USE_YN
             , REG_SN
             , MOD_SN
             , DATE_FORMAT(REG_DATE, '%Y-%m-%d %H:%i:%S') AS REG_DATE_STR
             , DATE_FORMAT(MOD_DATE, '%Y-%m-%d %H:%i:%S') AS MOD_DATE_STR
          FROM TC_AUTH_MS
         WHERE 1=1
        <if test="authSn != null and authSn != ''">
            AND AUTH_SN = #{authSn}
        </if>
        <if test="authNm != null and authNm != ''">
            AND AUTH_NM LIKE CONCAT('%',#{authNm},'%')
        </if>
        <if test="useYn != null and useYn != ''">
            AND USE_YN = #{useYn}
        </if>
         ORDER BY AUTH_SN DESC
         LIMIT #{skip} , #{pageSize}
    </select>

    <select id="selectAuthMenuListPaging" parameterType="MenuVO" resultType="MenuVO">
        WITH RECURSIVE
            CTE AS (
                SELECT 1 AS LEVEL
                     , MENU_SN
                     , MENU_NM
                     , SUPI_MENU_SN
                     , MENU_URL
                     , USE_YN
                     , DSP_YN
                     , ORDR
                FROM TC_ADMIN_MENU_LS
                WHERE SUPI_MENU_SN = #{menuSn}
                UNION ALL
                SELECT 1 + LEVEL AS LEVEL
                     , A.MENU_SN
                     , A.MENU_NM
                     , A.SUPI_MENU_SN
                     , A.MENU_URL
                     , A.USE_YN
                     , A.DSP_YN
                     , A.ORDR
                FROM TC_ADMIN_MENU_LS A
                   , CTE B
                WHERE A.SUPI_MENU_SN = B.MENU_SN
            ),
            MENU_LIST AS (
                SELECT LEVEL AS lvl
                     , MENU_SN
                     , MENU_NM
                     , SUPI_MENU_SN
                     , MENU_URL
                     , USE_YN
                     , DSP_YN
                     , ORDR
                FROM CTE
            )
        SELECT
            A.*
             , CASE WHEN B.AUTH_SN IS NULL THEN 'N'
                    WHEN B.AUTH_SN IS NOT NULL THEN 'Y'
               ELSE 'N' END AS LINK
        FROM MENU_LIST A
                 LEFT OUTER JOIN TC_AUTH_MENU_MPPG_LS B ON A.MENU_SN = B.MENU_SN AND B.AUTH_SN = #{authSn}
        ORDER BY A.lvl asc, A.ORDR asc
    </select>

    <delete id="deleteAuthMenuAll" parameterType="MenuVO">
        DELETE FROM TC_AUTH_MENU_MPPG_LS WHERE AUTH_SN = #{authSn}
    </delete>

    <select id="authList" resultType="AuthVO">
        SELECT
             AUTH_SN
           , AUTH_NM
          FROM TC_AUTH_MS
         WHERE USE_YN = 'Y'
    </select>

</mapper>