<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout">
<div layout:fragment="content">
    <h1>Index...</h1>

    <ul>
        <li th:each="s : ${list}"><a th:href="${s}" th:text="${s}" target="_blank"></a></li>
    </ul>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-09NGW7ZKWL"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-09NGW7ZKWL');
</script>
</html>