<html xmlns:th="http://www.thymeleaf.org">
<body>
package com.inno.innotree.common.gen.mapper;

import org.apache.ibatis.annotations.Mapper;
import com.inno.innotree.common.gen.vo.<p th:text="${tableName}"></p>BaseVO;
import java.util.List;

@Mapper
public interface <p th:text="${tableName}"></p>BaseMapper {

    <p th:text="${tableName}+'BaseVO select'+${tableName}+'Base('+${tableName}+'BaseVO vo) throws Exception;'"></p>
    <div>
    <p th:text="'List<'+${tableName}+'BaseVO> select'+${tableName}+'BasePaging('+${tableName}+'BaseVO vo) throws Exception;'">
    </div>
    <div>
    <p th:text="'void update'+${tableName}+'Base('+${tableName}+'BaseVO vo) throws Exception;'">
    </div>
    <div>
    <p th:text="'void insert'+${tableName}+'Base('+${tableName}+'BaseVO vo) throws Exception;'">
    </div>
    <div>
    <p th:text="'void delete'+${tableName}+'Base('+${tableName}+'BaseVO vo) throws Exception;'">
    </div>
}
</body>
</html>