<html xmlns:th="http://www.thymeleaf.org">
package com.inno.common.gen.repository;

import org.apache.ibatis.annotations.Mapper;
import com.inno.common.gen.vo.<p th:text="${tableName}"></p>BaseVO;
import java.util.List;

@Mapper
public interface <p th:text="${tableName}"></p>BaseMapper {

    <div th:text="${tableName}+'BaseVO select'+${tableName}+'Base('+${tableName}+'BaseVO vo) throws Exception;'"></div>

    <div th:text="'List<'+${tableName}+'BaseVO> select'+${tableName}+'BasePaging('+${tableName}+'BaseVO vo) throws Exception;'"></div>

    <div th:text="'void update'+${tableName}+'Base('+${tableName}+'BaseVO vo) throws Exception;'"></div>

    <div th:text="'void insert'+${tableName}+'Base('+${tableName}+'BaseVO vo) throws Exception;'"></div>

    <div th:text="'void delete'+${tableName}+'Base('+${tableName}+'BaseVO vo) throws Exception;'"></div>
}
</html>