<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<input name="supiCdId" type="hidden" th:value="${codeVO.supiCdId}">
<div class="form-group">
    <label>코드 ID</label>
    <input type="text" class="form-control" name="cdId" th:value="${codeVO.cdId}">
</div>
<div class="form-group">
    <label>코드명</label>
    <input type="text" class="form-control" name="cdNm" th:value="${codeVO.cdNm}">
</div>
<div class="form-group">
    <label>코드 값</label>
    <input type="text" class="form-control" name="cdVal" th:value="${codeVO.cdVal}">
</div>
<div class="form-group">
    <label>코드 옵션1</label>
    <input type="text" class="form-control" name="cdOpt1" th:value="${codeVO.cdOpt1}">
</div>
<div class="form-group">
    <label>코드 옵션2</label>
    <input type="text" class="form-control" name="cdOpt2" th:value="${codeVO.cdOpt2}">
</div>
<div class="form-group">
    <label>코드 옵션3</label>
    <input type="text" class="form-control" name="cdOpt3" th:value="${codeVO.cdOpt3}">
</div>
<div class="form-group">
    <label>순서</label>
    <input type="text" class="form-control" name="ordr" th:value="${codeVO.ordr}">
</div>
<div>
    <label>사용여부</label>
</div>
<label class="radio-inline">
    <input type="radio" name="useYn" value="Y" th:checked="${codeVO.useYn == 'Y'}"> 사용
</label>
<label class="radio-inline">
    <input type="radio" name="useYn" value="N" th:checked="${codeVO.useYn == 'N'}"> 미사용
</label>
<div class="card-body">
    <button type="button" class="btn btn-secondary btn-icon-split float-right b-save">
        <span class="icon text-white-50">
            <i class="fas fa-save"></i>
        </span>
        <span class="text">저장</span>
    </button>
</div>
</html>