<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout">
<div layout:fragment="content">
    <div class="float_wrap">
        <div class="card shadow float_left">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">코드 관리</h6>
            </div>
            <div class="card-body">
                <button class="btn btn-success btn-icon-splitb mb-2 b-reg">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">등록</span>
                </button>
                <div id="tree"></div>
            </div>
            <input id="supi" type="hidden" value="0000000000">
        </div>
        <div class="card shadow float_right">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">코드 등록 및 수정</h6>
            </div>
            <div class="card-body">
                <div id="d-form">
                    <form name="codeVO" action="/code/codeInsert" method="post">

                    </form>
                </div>
            </div>
        </div>
    </div><!--//float_wrap-->
    <script th:inline="javascript">
        var msg = [[${msg}]];
        $(document).ready(function(){
            // 등록&수정 메세지
            if(msg){
                Swal.fire({
                    icon: 'success',
                    text: msg,
                });
            }

            // JsTree.js
            $('#tree').jstree({
                'core' : {
                    'data': getJsTreeData()
                }
            }).on('changed.jstree', function (e, data) {
                getCodeForm(data.node.parent, data.node.id)
                $("#supi").val(data.node.id);
            });

            // submit
            $(document).on("click",".b-save",function(){
                if($.trim($("[name='cdNm']").val()) === ""){
                    Swal.fire({
                        icon: 'warning',
                        text: '코드명을 입력해주세요.',
                    });
                    $("[name='cdNm']").focus();
                    return false;
                }
                if($("[name='useYn']:checked").length === 0){
                    Swal.fire({
                        icon: 'warning',
                        text: '사용여부를 입력해주세요.',
                    });
                    $("[name='useYn']").eq(0).focus();
                    return false;
                }
                $("form[name='codeVO']").submit();
            });

            // 코드 등록
            $(".b-reg").on("click",function(){
                getCodeForm($("#supi").val());
            })
        });

        // 코드 등록 폼
        function getCodeForm(supiCdId, cdId){
            $.ajax({
                url:'/code/codeForm',
                type:'get',
                data:{ supiCdId : supiCdId, cdId : cdId },
                success : function(result){
                    $("form[name='codeVO']").html(result);
                }
            })
        }

        // JsTreeData 리스트 조회
        function getJsTreeData(){
            var data = null;
            $.ajax({
                url:'/code/codeListAjax',
                type:'get',
                async:false,
                success : function(result){
                    data = result;
                }
            })
            return data;
        }
    </script>
</div>
</html>