<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<input name="supiCdId" type="hidden" th:value="${codeVO.supiCdId}">
<input name="cdId" type="hidden" th:value="${codeVO.cdId}">
<div class="form-group">
    <label>메뉴명</label>
    <input type="text" class="form-control" name="cdNm" th:value="${codeVO.cdNm}">
</div>
<div class="form-group">
    <label>순서</label>
    <input type="text" class="form-control" name="ordr" th:value="${codeVO.ordr}">
</div>
<div>
    <label>사용여부</label>
</div>
<label class="radio-inline">
    <input type="radio" name="useYn" value="Y" th:checked="${codeVO.useYn == 'Y'}"> 사용
</label>
<label class="radio-inline">
    <input type="radio" name="useYn" value="N" th:checked="${codeVO.useYn == 'N'}"> 미사용
</label>
<div class="card-body">
    <button type="button" class="btn btn-secondary btn-icon-split float-right b-save">
        <span class="icon text-white-50">
            <i class="fas fa-save"></i>
        </span>
        <span class="text">저장</span>
    </button>
</div>
</html>