<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout">
<div layout:fragment="content">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">권한 관리</h6>
        </div>
        <div class="card-body">
            <form name="authVO" action="/auth/authInsert" method="post">
                <input type="hidden" name="authSn" th:value="${authVO.authSn}">
                <div class="form-group">
                    <label>권한 명</label>
                    <input type="text" class="form-control" name="authNm" th:value="${authVO.authNm}">
                </div>
                <div>
                    <label>사용여부</label>
                </div>
                <label class="radio-inline">
                    <input type="radio" name="useYn" value="Y" th:checked="${authVO.useYn == 'Y'}"> 사용
                </label>
                <label class="radio-inline">
                    <input type="radio" name="useYn" value="N" th:checked="${authVO.useYn == 'N'}"> 미사용
                </label>
            </form>
        </div>
        <div class="card-body">
            <button class="btn btn-light btn-icon-split b-list">
            <span class="icon text-gray-600">
                <i class="fas fa-arrow-left"></i>
            </span>
                <span class="text">목록</span>
            </button>
            <button class="btn btn-secondary btn-icon-split float-right b-save">
            <span class="icon text-white-50">
                <i class="fas fa-save"></i>
            </span>
                <span class="text">저장</span>
            </button>
        </div>
    </div>
    <div class="card shadow" th:if="${authVO.authSn != null}">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">메뉴 검색</h6>
        </div>
        <div class="card-body">
            <form name="searchForm">
                <input type="hidden" id="authSn" name="authSn" th:value="${authVO.authSn}">
                <select class="form-select-button ml-2" name="fmenuSn" data-next="smenuSn" style="width: 31%" onchange="selectMenuChildren(this);">
                    <option value="">선택</option>
                    <option value="" th:each="m : ${menuList}" th:value="${m.menuSn}" th:text="${m.menuNm}" />
                </select>
                &nbsp&nbsp>&nbsp&nbsp
                <select class="form-select-button" name="smenuSn" data-next="tmenuSn" style="width: 31%" disabled="true" onchange="selectMenuChildren(this);">
                    <option value="">선택</option>
                </select>
                &nbsp&nbsp>&nbsp&nbsp
                <select class="form-select-button" name="tmenuSn" style="width: 31%" disabled="true">
                    <option value="">선택</option>
                </select>
            </form>
        </div>
    </div>
    <div class="card-body text-center"  th:if="${authVO.authSn != null}">
        <button class="btn btn-primary btn-icon-split b-search">
            <span class="icon text-white-50">
                <i class="fas fa-search"></i>
            </span>
            <span class="text">검색</span>
        </button>
        <button class="btn btn-danger btn-icon-split b-reset">
            <span class="icon text-white-50">
                <i class="fas fa-trash"></i>
            </span>
            <span class="text">초기화</span>
        </button>
    </div>
    <div class="card-body text-left" style="padding-top: 0" th:if="${authVO.authSn != null}">
        <button class="btn btn-secondary btn-icon-splitb b-auth" value="Y">
            <span class="icon text-white-50">
                <i class="fas fa-check"></i>
            </span>
            <span class="text">부여</span>
        </button>
        <button class="btn btn-secondary btn-icon-splitb b-auth" value="N">
            <span class="icon text-white-50">
                <i class="fas fa-check"></i>
            </span>
            <span class="text">미부여</span>
        </button>
    </div>
    <div id="grid" th:if="${authVO.authSn != null}"></div>
    <script th:inline="javascript">
        var authSn = [[${authVO.authSn}]];
        class CheckboxRenderer {
            constructor(props) {
                const { grid, rowKey } = props;

                const label = document.createElement('label');
                label.className = 'checkbox';
                label.setAttribute('for', String(rowKey));

                const hiddenInput = document.createElement('input');
                hiddenInput.className = 'hidden-input';
                hiddenInput.id = String(rowKey);
                hiddenInput.name = "menuSnList";
                hiddenInput.value = grid.getRow(rowKey).menuSn;

                const customInput = document.createElement('span');
                customInput.className = 'custom-input';

                label.appendChild(hiddenInput);
                label.appendChild(customInput);

                hiddenInput.type = 'checkbox';
                hiddenInput.addEventListener('change', () => {
                    if (hiddenInput.checked) {
                        grid.check(rowKey);
                    } else {
                        grid.uncheck(rowKey);
                    }
                });
                this.el = label;
                this.render(props);
            }
            getElement() {
                return this.el;
            }
            render(props) {
                const hiddenInput = this.el.querySelector('.hidden-input');
                const checked = Boolean(props.value);

                hiddenInput.checked = checked;
            }
        }
        $(document).ready(function(){
            if(authSn){
                var grid = new tui.Grid({
                    el: document.getElementById('grid'),
                    data: null,
                    scrollX: false,
                    scrollY: false,
                    rowHeaders: [{
                        type: 'checkbox',
                        header: `<label for="all-checkbox" class="checkbox">
                                     <input type="checkbox" id="all-checkbox" class="hidden-input" name="_checked" />
                                     <span class="custom-input"></span>
                                 </label>`,
                        valign : 'middle',
                        renderer: {
                            type: CheckboxRenderer
                        }
                    }],
                    columns: [
                         {header: '메뉴 일련번호',name: 'menuSn'}
                        ,{header: '메뉴 명',name: 'menuNm',align:'left'}
                        ,{header: '메뉴 URL',name: 'menuUrl',align:'left'}
                        ,{header: '권한 부여',name: 'link',align:'center'}
                    ]
                });
            }
            // 권한 부여
            $(".b-auth").on("click",function(){
                if($("[name='menuSnList']:checked").length > 0){
                    var dataArr = [];
                    var state = this.value;
                    $("[name='menuSnList']:checked").each(function(){
                        dataArr.push(this.value);
                    })
                    $.ajax({
                        url: '/auth/authMenuMppgAjax',
                        data: {menuSnList: dataArr, authSn: authSn, state: state},
                        type: 'post',
                        async: false,
                        success : function(result){
                            console.log(grid)
                            if(result === "00"){
                                Swal.fire({
                                    icon: 'success',
                                    text: '정상적으로 처리되었습니다.',
                                }).then(function() {
                                    $(".b-search").trigger("click");
                                });
                            } else {
                                Swal.fire({
                                    icon: 'warning',
                                    text: '처리중 오류가 발생했습니다.',
                                });
                            }
                        }
                    })
                } else {
                    Swal.fire({
                        icon: 'warning',
                        text: '선택하신 메뉴가 없습니다. \n권한을 부여할 메뉴를 선택해주세요.',
                    });
                }
            })

            // 검색
            $(".b-search").on("click", function(){
                var fmenuSn = $("[name='fmenuSn']").val();
                var smenuSn = $("[name='smenuSn']").val();
                var tmenuSn = $("[name='tmenuSn']").val();
                var menuSn = fmenuSn === "" ?
                                "" : smenuSn === "" ?
                                    fmenuSn : tmenuSn === "" ?
                                        smenuSn : tmenuSn;
                var data = { authSn : authSn, menuSn : menuSn};
                $.ajax({
                    url: '/auth/menuListAjax',
                    data: data,
                    type: 'post',
                    success : function(result){
                        grid.resetData(result);
                    }
                })
            })

            // 초기화
            $(".b-reset").on("click",function(){
                $("[name='searchForm']")[0].reset();
            })

            // 목록으로
            $(".b-list").on("click", function(){
                location.href = '/auth/authList';
            })

            // submit
            $(".b-save").on("click", function(){
                // 권한 명 필수값
                if($.trim($("[name='authNm']").val()) === ""){
                    Swal.fire({
                        icon: 'warning',
                        text: '권한 명을 입력해주세요.',
                    });
                    $("[name='authNm']").focus();
                    return false;
                }

                if($("[name='useYn']:checked").length === 0){
                    Swal.fire({
                        icon: 'warning',
                        text: '사용여부를 입력해주세요.',
                    });
                    $("[name='useYn']").eq(0).focus();
                    return false;
                }

                $("form[name='authVO']").submit();
            })
        })

        function selectMenuChildren(el){
            console.log(el)
            if($(el).data("next")){
                var $next = $("[name='"+$(el).data("next")+"']");
                if($(el).val() !== ""){
                    var menuSn = $(el).val();
                    $.ajax({
                        url:"/auth/selectMenuChildren",
                        type:"get",
                        data:{menuSn:menuSn},
                        contentType:"application/json; charset=utf-8",
                        success:function(result){
                            if(result.length > 0){
                                var ohtml = "<option value=''>선택</option>";
                                $.each(result, function(){
                                    ohtml += "<option value='"+this.menuSn+"'>"+this.menuNm+"</option>";
                                })
                                $next.html(ohtml);
                                $next.attr("disabled", false);
                            } else {
                                $next.children('option:not(:first)').remove();
                                $next.attr("disabled", true);
                                $next.trigger("change");
                            }
                        }
                    })
                } else {
                    $next.children('option:not(:first)').remove();
                    $next.attr("disabled", true);
                    $next.trigger("change");
                }
            }
        }
    </script>
</div>
</html>